@import url("./drag.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Microbe', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  cursor: pointer;
}

:root{
  --squareBgColor: rgb(255, 255, 255);
  --textColor: whitesmoke;
}

.scroll-container  {
  width:1vh;
}

/* App */
.App{
  display: grid;
  place-items: center;
  height: 100vh;
  background-size: 16px 16px;
  background-color: #000000f5;
  background-image: linear-gradient(to right, #161616 1px, transparent 1px), linear-gradient(#161616 1px, transparent 1px);
}

/* Board */
.Board{
  /* background-color: #dce2ea; */
}

/* Canvas */
.Canvas{
  width:80vh;
  height:80vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(40,1fr);
  grid-template-rows: repeat(40,1fr);
}

/* Loading */
.Loading{
  width:80vh;
  height:80vh;
  display: grid;
  place-items: center;
}
.Loading_Text{
  font-size: 2em;
  color: var(--textColor);
}

/* Square */
.Square{
  background-color: black;
  border: 1px solid #dce2ea;
}
.Square:hover{
  background-color: var(--squareBgColor) !important;
}

/* Tools */
.Profile{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;  
  justify-content: center;
  color: var(--textColor);
}

.Profile .Btn {
  color: var(--textColor);
}

/* Tools */
.Tools{
  display: grid;
  place-items: center;
  padding: 5px;
  color: var(--textColor);
}

.Auth-Button{
  border: none;
  color: var(--textColor);
  background-color: transparent;
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* Palette */
.Palette{
  display:flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.Palette-item{
  margin: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(247, 247, 247);
  border-radius: 50%;
}
.Palette-item.red{
  background-color: red;
}
.Palette-item.green{
  background-color: green;
}
.Palette-item.blue{
  background-color: rgb(14, 126, 255);
}
.Palette-item.yellow{
  background-color: yellow;
}
.Palette-item.orange{
  background-color: orange;
}
.Palette-item.purple{
  background-color: purple;
}
.Palette-item.pink{
  background-color: pink;
}
.Palette-item.black{
  background-color: black;
}
.Palette-item.white{
  background-color: white;
}


